.outerBox{
    height: 100vh;
    width: 100%;
    padding: 10px 20px;
    background: #080b0e;
}

.project-n-repo{
    /* border: 1px solid yellow; */
}

.projectForm {
    max-width: 600px;
    height: 66vh;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #121519;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .titleDiv h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #fbfbfb;
  }
  
  .inputs {
    margin-top: 30px;
  }
  
  .inputs label p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #dddddd;
  }
  .inputs input[type="text"] {
     height: 40px;
  }

  .inputs textarea{
     height: 100px;
  }

  .inputs input[type="text"],
  .inputs textarea 
  {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #646262;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .inputs input[type="text"]:focus,
  .inputs textarea:focus {
    border-color: #007bff;
  }
  
  .submit {
    text-align: center;
    margin-top: 30px;
  }
  
  .submit input {
    padding: 5px 10px;
    width: 10rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
  }
  
  .submit input:hover {
    background-color: #218838;
  }
  
.repoForm {
    max-width: 600px;
    height: 85vh;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #121519;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.repoBtn{
   /* border: 2px solid; */
   display: flex;
   padding: 18px 0px;
   width: 89%;
   justify-content: space-evenly;
}
.repoBtn button{
    width: 33%;
}
#repoPrivacy{
    outline: none;
    border: 1px solid #646262;
    border-radius: 5px;
    display: block;
    width: 40%;
    height: 40px;
}

label{
    /* border: 2px solid; */
    width: 42%;
    margin: 0px !important;
}
label p{
    color: black;
    /* margin: 0px !important; */
    font-size: 17px;
    font-weight:600;
}

.other{
    border: 2px solid red;
    }