.regLog{
    margin-top: 20px;
}
.regLog h2{
  font-weight: 500;
}
#notAccount{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
#switch{
    cursor: pointer;
}
#switch:hover{
    color: #a4a4a4;
}

.account{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    background-color:#0D1117;
    color: white;
    padding-bottom: 100px;
    height: 100vh;
}

.register {
    height: 100%;
    padding-bottom: 39rem;
}

.content{
    /* border: 2px solid !important; */
    border-radius: 7px;
    /* background: rgb(157, 69, 2); */
    margin-top: 3em;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.0625rem;
    border-color: #414851;
    border-style: solid;
    /* height: 85%; */
}

.form{
    /* border: 2px solid red; */
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
    width:100%;
    gap:'100px';

}
.inputBox{
    /* border: 2px solid; */
    padding: 5px;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}
.inputBox input{
    border: 2px solid;
    color: white;
    width: 240px;
    height: 2.4rem;
    padding: 10px;
    border-radius: 5px;
   outline: none;
   background-color: rgb(0, 0, 0);
   border-width: 0.0925rem;
   border-color: #30363d;
   border-style: solid;
   transition: all .2s  ease-in-out;
}
.inputBox input:focus{
  border: 2px solid rgb(41, 41, 186);
}

.error{
   color: rgb(248, 30, 30);
   opacity: 0;
   transition: opacity .2s ease-in-out;
}
#error-show {
    opacity: 1;
}

.social-divider{
    margin-top: 20px;
    width: 65%;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
}
.social-divider span{
    background-color:#0D1117;
    padding: 0 10px;
    color: white;
}

.submit-auth{
    background-color: rgb(209, 179, 11);
    width: 120px;
    padding: 6px 0;
    margin-top: 10px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(172, 147, 4);
}

#social-accnt{
    /* border: 2px solid; */
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}
.social-handle{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.social-handle:hover{
   background-color: rgb(24, 23, 23);
}
.social-handle h6{
    margin: 0;
}
